html {
    scrollbar-gutter: stable; /* Reserve Space for the ScrollBar fixing layout shifts */
}

.nav-search-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width:  1156px) {
    .nav-search-container {
        display: none;
    }
}

.search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .25s ease-out;
}

.search-container-mobile {
    display: none;
}

@media only screen and (max-width:  1156px) {
    .search-container-mobile {
        width: 100%;
        padding-bottom: 0.5vw;
        margin-inline: 2vw;
        display: flex;
        flex-direction: column;
        grid-column: span 3;
        align-items: center;
        transition: .25s ease-out;
    }
}

.search-box {
    padding: 1vw;
    padding-inline: 2vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 1vw;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.50);
    background-color: white;
    transition: .25s ease-out;
}

.search-svg {
    height: auto;
    width: clamp(1.5rem, 3vw, 1.7rem);
}

.filter-svg {
    height: auto;
    width: clamp(1.5rem, 3vw, 1.7rem);
    fill: var(--accent-color);
    cursor: pointer;
}

.search {
    font-size: clamp(1.3rem, 3vw, 1.5rem);
    border: none;
    background-color: transparent;
    outline: none;
    flex-grow: 1;
}

.filter-menu{
    z-index: 3;
    position: fixed;
    top: 0;
    left: -100vw;
    height: 100vh;
    width: 2%;
    border-right: 1px solid rgba(0, 0, 0, 0.50);
    background-color: white;
    transition: .25s ease-out;
}

@media only screen and (max-width:  1156px) {
    .filter-menu{
        width: 60%;
    }
}

.filter-menu.active{
    left: 0px;
}

.checkbox-container {
    margin-left: 5vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1vw;
}

.checkbox-group-name {
    padding-inline: 1vw;
}