:root {
    --primary-color: #2b6bec;
    --primary-color-transparent: #2b6bec90; 
    --primary-color-very-transparent: #2b6bec80;

    --accent-color: #FF4B33;
    --accent-color-darker: #e61b00;
    --accent-color-darkest: #b31500;
}

@font-face {
    font-family: "montserrat";
    src: url(Resources/Fonts/Montserrat-VariableFont_wght.ttf);
    font-display: swap;
}

* {
    font-family: "montserrat";
    /* outline: 1px solid red; To check overflows */
}

body {
    margin: 0;
    padding: 0;
}

/* #region Common */
.section-header-container {
    display: flex;
    justify-content: space-between;
    padding-inline: 1vw;
    
    @media only screen and (max-width:  1156px) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-block: 5vw;
        gap: 0.25rem;
        text-align: center;
    }
}

.section-header {
    font-size: clamp(2rem, 3vw, 3rem);
    
    @media only screen and (max-width:  1156px) {
        margin: 0;
    }
}
/* #endregion */

/* #region NavBar */
.nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 1svh;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    transition: .25s ease-out;
    z-index: 1;
}
.nav.sticky {
    position: fixed;
    top: 0%;
    background-color: white;
    box-shadow: 1px 0px 5px rgb(0, 0, 0, 50%);
    transition: .25s ease-out;
}
@media only screen and (max-width:  1156px) {
    .nav {
        grid-template-columns: 1fr auto;
    }
    .nav.sticky {
        background-color: var(--primary-color);
    }
}

.nav-brand-text {
    justify-self: start;
    color: white;
    font-size: clamp(1.4rem, 2vw, 3rem);
    font-weight: 600;
    margin: 0;
    transition: .25s ease-out;
}
.nav.sticky .nav-brand-text {
    transform: scale(0.9);
    color: black;
}
@media only screen and (max-width:  1156px) {
    .nav.sticky .nav-brand-text {
        color: white;
    }
}

.nav-brand-logo {
    max-width: 100%;
    max-height: auto;
    height: clamp(3.6rem, 7vw, 6rem);
    vertical-align: middle;
    transition: .25s ease-out;
}

.hidden-on-mobile {
    display: flex;
    align-items: center;
    gap: .1vw;  
}
@media only screen and (max-width:  1156px) {
    .hidden-on-mobile {
        display: none;
    }
}

.nav-phone-number {
    color: var(--accent-color);
    font-size: clamp(0.5rem, 1.4vw, 2rem);
    transition: .5s;
    font-weight: 800;
}
.nav.sticky .nav-phone-number {
    font-size: clamp(0.5rem, 1.2vw, 2rem);
}
@media only screen and (max-width:  1156px) {
    .nav-phone-number {
        display: none;
    }
    .hidden-on-mobile {
        display: none;
    }
}

.nav-phone-svg {
    color: var(--accent-color);
    transition: .25s ease-out;
}
.nav.sticky .nav-phone-svg {
    transform: scale(0.9);
}
@media only screen and (max-width:  1156px) {
    .nav-phone-svg {
        display: none;
    }
}

.nav-links {
    justify-self: end;
    display: flex;
    align-items: center;

    gap: 0.2vw;
    margin-right: 1vw;
    transition: .25s ease-out;
}
@media only screen and (max-width:  1156px) {
    .nav-links {
        display: none;
    }
}

.nav-link {
    padding: 0.5vw;
    font-size: clamp(1rem, 1.4vw, 2rem);
    font-weight: 500;
    color: white;
    cursor: pointer;
    transition: .25s ease-out;
}
.nav.sticky .nav-link {
    color: black;
    font-size: clamp(1rem, 1.2vw, 2rem);
}

.nav-link:hover {
    background-color: var(--accent-color-darker);
    border-radius: 10px;
}
.nav.sticky .nav-link:hover {
    color: white;
}

.hamburger {
    align-self: center;
    justify-items: center;
    display: none;
    cursor: pointer;
    margin-right: 2vw;
    height: 40px;
    width: 40px;
    position: relative;
    transition: .25s ease-out;
    z-index: 3;
}
.nav.sticky .hamburger {
    transform: scale(0.9);
}
.hamburger .bar {
    display: block;
    height:  3px;
    width: 100%;
    background-color: var(--accent-color);
    border-radius: 10px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .25s ease-out;
}

.hamburger .bar:nth-child(1) {
    top: 25%;
}

.hamburger .bar:nth-child(3){
    top: 75%;
}


.hamburger.active .bar:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0%;
}

.hamburger.active .bar:nth-child(3) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
}

@media only screen and (max-width:  1156px) {
    .hamburger {
        display: block;
    }
}

.off-menu {
    display: none;

    background: linear-gradient(var(--primary-color-transparent), transparent);
    height: 40svh;
    width: 100%;
    position: absolute;
    top: 0;
    left: -100vw;
    transition: .3s ease;
    overflow: hidden;
    touch-action: none;
}
@media only screen and (max-width:  1156px) {
    .off-menu {
        display: block;
    }
}

.off-menu.active {
    left: 0px;
}

.nav-text-off {
    text-align: center;
    flex: 0 1 auto;
    color: white;
    font-size: large;
    border: #c84536 solid 2px;
    border-radius: 10px;
    padding: 2vw;
    margin: 1vw;
    backdrop-filter: brightness(80%);
}
.nav-links-off {
    padding-top: 7svh;
    width: 100%;
    
    display: grid;
    justify-content: center;
    grid-auto-columns: 50vw;
    gap: 2vw 0;
    grid-auto-rows: 1fr;

    /* display: flex;
    flex-direction: column;
    align-items: center; */
}
/* #endregion */

/* #region Hero */
.hero {
    z-index: -2;
    position: relative; /* For Nav And Gradient */
    height: 100svh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color); /* For Fallback */
    background-image: url("Resources/Images/Hero\ Low\ Q.webp");
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media only screen and (max-width:  1156px) {
  .hero {
    background-position: 83% center;
    background-attachment: local; /* Remove Paralax Effet for Phones */
  }
}

.hero::before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color-transparent);
    filter: brightness(60%);
    backdrop-filter: blur(10px); /* Apply a Blur */
    mask-image: linear-gradient(to right, black 30%, transparent); /* Make the Gradient End at the End of the First Gradient Element*/
}
@media only screen and (max-width:  1156px) {
  .hero::before {
    filter: brightness(60%);
    backdrop-filter: blur(0px);
    mask-image: none; /* Make the Gradient End at the End of the First Gradient Element for Safari*/

    background-color: var(--primary-color-very-transparent);
  }
}

.hero-text {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 28px;
}
/* For Normal and Large Phones */
@media only screen and (max-width:  1156px) {
    .hero-text {
        margin-left: 0px;
        justify-content: center;
        align-items: center;
        padding-top: 40svh;
    }
}
/* For Normal and Large Phones in Landscape */
@media only screen and (max-width:  1156px) and (orientation: landscape) {
    .hero-text {
        margin-left: 0px;
        justify-content: center;
        align-items: center;
        padding-top: 15svh;
    }
}
/* For Small Phones */
@media only screen and (max-width:  375px) and (max-height: 693px) {
    .hero-text {
        margin-left: 0px;
        justify-content: center;
        align-items: center;
        padding-top: 30svh;
    }
}
/* For Small Phones in Landscape */
@media only screen and (max-width:  693px) and (max-height: 375px) and (orientation: landscape) {
    .hero-text {
        margin-left: 0px;
        justify-content: center;
        padding: 10svh;
        align-items: center;
    }
}

.hero-title {
    color: white;
    font-size: clamp(2.5rem, 4vw, 4.1rem);
    font-weight: 700;
    max-width: 50%;
    margin-bottom: 2rem;
    font-family: "montserrat";
}
@media only screen and (max-width:  1156px) {
    .hero-title {
        max-width: 80%;
        text-align: center;
        padding-inline: 5vw;
    }
}

.hero-subtitle {
    color: white;
    font-size: clamp(1.3em, 2vw, 1.9em);
    font-weight: 500;
    max-width: 35%;
    margin-bottom: 2rem;
    margin-top: 0;
}
@media only screen and (max-width:  1156px) {
    .hero-subtitle {
        max-width: 100%;
        text-align: center;
        padding-inline: 5vw;
    }
}

.hero-button {
    background-color: var(--accent-color-darker);
    border: solid var(--accent-color-darker) 2px;
    font-size: clamp(1.3rem, 2vw, 2.5rem);
    font-weight: 600;
    width: fit-content;
    padding: clamp(1rem, 2vw, 1.5rem);
    border-radius: 10px;
    align-self: flex-start;
    color: white;
    cursor: pointer;
    transition: .2s ease-in;
    will-change: transform;
}
@media only screen and (max-width:  1156px) {
    .hero-button {
        align-self: center;
        margin-top: auto;
        margin-bottom: 2rem;
    }
}

.hero-button:hover {
    background-color: var(--accent-color-darkest);
    border-color: var(--accent-color-darkest);
    scale: 0.99;
}

/* #endregion */

/* #region ACs */
.more-acs-link {
    align-self: center;
    font-size: clamp(1rem, 2vw, 2.5rem);
    color: black;
    padding: 1rem;
    border-bottom: 5px solid var(--accent-color);
    transition: .25s ease-out;
    text-decoration: none;

    @media only screen and (max-width:  1156px) {
        margin: 0;
        padding: 0.7rem;
        transition: .1s ease-out;
    }
}

.more-acs-link:hover {
    background-color: var(--accent-color-darker);
    border-radius: 10px;
    color: white;
    cursor: pointer;
}

.ac-best-selling {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1vw;
    row-gap: 1vw;
    padding-inline: 1vw;

    @media only screen and (max-width:  1156px) {
        grid-template-columns: 1fr 1fr;
    }
    @media only screen and (max-width:  768px) {
        grid-template-columns: 1fr;
        row-gap: 3vw;
    }
}

.ac-card {
    /* border: 2px solid var(--primary-color-transparent);  */
    border-radius: 10px;
    overflow: hidden; /* Hides Border being Cut Off*/
    display: flex; 
    flex-direction: column;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);

    @media only screen and (max-width:  1156px) {
        margin: 3vw;
    }
}

.ac-image {
    width: 100%;
    height: 15vw;
}

.ac-title {
    text-align: center;
    font-size: clamp(1.3rem, 1.5vw, 2rem);
    margin-bottom: .6vw;
    margin-top: 0;
}
/* For Small Phones */
@media only screen and (max-width:  375px) and (max-height: 693px) {
    .ac-title {
        font-size: clamp(1rem, 1.5vw, 2rem);
    }
}

.ac-brand {
    text-align: center;
    font-size: clamp(1rem, 1.5vw, 1.7rem);
    font-weight: 600;
    margin-bottom: .6vw;
    margin-top: 0;
}
/* For Small Phones */
@media only screen and (max-width:  375px) and (max-height: 693px) {
    .ac-brand {
        font-size: clamp(0.9rem, 1.5vw, 1.7rem);
    }
}

.ac-hot-cold-cards {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.5vw;
    
    @media only screen and (max-width:  1641px) {
        flex-direction: column;
        align-items: center;
    }
}

.ac-hot-cold-card {
    border: 2px solid;
    border-radius: 10px;
    width: fit-content;
    margin-block: 10px;
    padding: 15px;
    position: relative;
    font-size: clamp(0.9rem, 0.8vw, 1.2rem);
}
/* For Small Phones */
@media only screen and (max-width:  375px) and (max-height: 693px) {
    .ac-hot-cold-card {
        font-size: clamp(0.8rem, 0.8vw, 1.2rem);
    }
}

.ac-hot-cold-card-sun {
    border-color: var(--accent-color);
}

.ac-hot-cold-card-snow {
    border-color: var(--primary-color);
}

.ac-svg {
    position: absolute;
    top: 0%;
    left:50%;
    transform:translate(-50%, -55%);
    background-color: white;
    padding-inline: 0.5rem;
}

.ac-svg-snow {
    fill: var(--primary-color);
}

.ac-svg-sun {
    fill: var(--accent-color);
}

.ac-body {
    text-align: center;
    font-size: clamp(0.9rem, 0.8vw, 1.2rem);
    margin-bottom: 1.5vw;
    margin-top: 0;
}
/* For Small Phones */
@media only screen and (max-width:  375px) and (max-height: 693px) {
    .ac-body {
        font-size: clamp(0.8rem, 0.8vw, 1.2rem);
    }
}

.ac-body-container {
    @media only screen and (max-width:  1156px) {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 1.5vw;
    }
}

.ac-price {
    text-align: center;
    font-size: clamp(1.7rem, 2vw, 2.7rem);
    margin-bottom: 0;
    margin-top: 0;
}
/* For Small Phones */
@media only screen and (max-width:  375px) and (max-height: 693px) {
    .ac-price {
        font-size: clamp(1.5rem, 2vw, 2.7rem);
    }
}

.ac-price-sub {
    text-align: center;
    font-size: clamp(1rem, 2vw, 1.5rem);
    margin-bottom: .5vw;
    margin-top: 0;
}
/* For Small Phones */
@media only screen and (max-width:  375px) and (max-height: 693px) {
    .ac-price-sub {
        font-size: clamp(0.9rem, 2vw, 1.5rem);
    }
}

.ac-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0.5vw;
}

.ac-button {
    background-color: var(--accent-color-darker);
    border-radius: 10px;
    border: 1px solid var(--accent-color-darker);
    color: white;
    font-size: clamp(1.2rem, 1.5vw, 1.9rem);
    padding: 10px;
    cursor: pointer;
    transition: .25s ease-out;
    will-change: transform;
}
@media only screen and (max-width:  1156px) {   
    .ac-button {     
        margin-block: 3vw;
        padding: 1.5vw;
    }
}
/* For Small Phones */
@media only screen and (max-width:  375px) and (max-height: 693px) {
    .ac-button {
        margin-block: 2vw;
        font-size: clamp(1rem, 1.5vw, 1.9rem);
    }
}

.ac-button:hover {
    background-color: var(--accent-color-darkest);
    border-color: var(--accent-color-darkest);
    scale: 0.95;
}

.ac-button-svg {
    height: auto;
        width: 1rem;
    fill: white;
}
/* For Small Phones */
@media only screen and (max-width:  375px) and (max-height: 693px) {
    .ac-button-svg {
        height: auto;
        width: 1rem;
    }
}
/* #endregion */

/* #region WhyUs */
.why-us-section {
    padding-inline: 1vw;
    margin-block: 5vw;
}

.why-us-cards {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 5vw;
    margin-bottom: 5vw;

    @media only screen and (max-width:  1156px) {        
        grid-template-columns: auto;
    }
}

.why-us-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    padding: 3rem;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.35);

    @media only screen and (max-width:  1156px) {        
        margin: 3vw;
        padding: 1rem;
    }
}

.why-us-title {
    font-size: clamp(1.5rem, 2vw, 2rem);
    margin-top: 0;
    text-align: center;

    @media only screen and (max-width:  1156px) {        
        
    }
}
/* #endregion */