body {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Set a Height so that the Grid will overflow causing it be scrollable*/
}

header {
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.99);
}

.ac-best-selling {
    padding-block: 1vw;
    grid-auto-rows: min-content; /* Make this Section Scrollable because having a Search Bar in a Sticky Header causes all kinds of jankyness */
    overflow-y: scroll;
}

.nav-search-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width:  1156px) {
    .nav-search-container {
        display: none;
    }
}

.search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: .25s ease-out;
}
@media only screen and (max-width:  1474px) {
    .search-container {
        width: 80%;
    }
}

.search-container-mobile {
    display: none;
}

@media only screen and (max-width:  1156px) {
    .search-container-mobile {
        max-width: 100%;
        padding: 0.5vw;
        margin-inline: 2vw;
        display: flex;
        flex-direction: column;
        grid-column: span 3;
        align-items: center;
        transition: .25s ease-out;
    }

    .nav.sticky .search-container-mobile {
        transform: scale(0.99);
    }
}

.search-box {
    padding: 1vw;
    padding-inline: 2vw;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    gap: 1vw;
    border: 1px solid var(--primary-color);
    background-color: white;
    transition: .25s ease-out;
}

.search-svg {
    height: auto;
    width: clamp(1.5rem, 3vw, 1.7rem);
}

.filter-svg {
    height: auto;
    width: clamp(1.5rem, 3vw, 1.7rem);
    fill: var(--accent-color);
    cursor: pointer;
}

.search {
    font-size: clamp(1rem, 2vw, 1.5rem);
    border: none;
    background-color: transparent;
    outline: none;
    flex-grow: 1;
}
@media only screen and (max-width:  1474px) {
    .search {
        flex-grow: 0;
    }
}


.filter-menu{
    top: 0;
    left: -100vw;
    height: 100vh;
    width: 25%;
    background-color: white;
    transition: .25s ease-out;
}

.filter-container.active .filter-menu{
    left: 0px;
}

.filter-container {
    z-index: 3;
    position: fixed;
    top: 0;
    width: 100vw;
    max-width: 100%;
    left: -100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.20);
    opacity: 0;
    transition: .25s ease-out;

    &.active{
        left: 0px;
        opacity: 1;
    }
}

@media only screen and (max-width:  1156px) {
    .filter-menu{
        width: 60%;
    }
}

.checkbox-container {
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1vw;
}

.checkbox-group-name {
    text-align: left;
    padding-left: 2vw;
    margin-bottom: 0;
}

.checkbox-group {
    padding-left: 2vw;
}